# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Audio renders y binarios locales
output/

# Sistema y logs
*.log
Thumbs.db
.DS_Store
.vscode/

# Variables de entorno y credenciales
.env
*.env
